* {
  margin: 0;
  box-sizing: border-box;
  font-family: $lato;
}

.general_btn {
  background-color: $_white;
  color: $_black;
  width: 30%;
  border: none;
  min-height: 25px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
.general_btn:hover {
  background-color: $_black;
  color: $_white;
  border: 1px solid $_white;
}
.select {
  @extend .general_btn;
  background-color: $_black;
  color: $_white;
  border: 1px solid $_white;
}
