@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

$_black: rgb(44, 44, 44);
$_blue: rgb(96, 96, 134);
$l_blue: #1aa3ff;
$_white: rgb(241, 240, 240);
$_red: rgb(165, 17, 17);
$l_red: rgb(230, 20, 20);

//font
$lato: "Lato", sans-serif;
