@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

$_black: rgb(44, 44, 44);
$_blue: rgb(96, 96, 134);
$l_blue: #1aa3ff;
$facebook: #3b5998;
$tw: rgb(29, 161, 242);
$pinterest: #e60023;
$instagram: rgb(193, 53, 132);
$_white: rgb(241, 240, 240);
$s_grey: rgb(216, 216, 216);
$m_grey: rgb(189, 189, 189);
$p_grey: rgb(85, 83, 83);
$_red: rgb(165, 17, 17);
$l_red: rgb(230, 20, 20);

//Corona
$corona: rgb(183, 60, 61);

//book depository blue
$_book: rgb(16, 189, 214);
$h_book: rgb(7, 216, 248);
$_book_v: rgb(255, 0, 114);

//Nav Colors
$up_nav: rgb(64, 48, 66);
$nav: rgb(76, 57, 78);

//font
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;

$sha: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
